body
{
	background-color: #f0f0f0;
}
.labyrinth
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 500px;
	background-color: #000000;
	/* border: 5px ridge  whitesmoke; */
	border: 5px ridge  rgb(230, 18, 67);
}

.pacman
{
 
	position: absolute;
	top: 51px;
	left: 51px;
 
	color: #ffffff;
	transform: rotate(45deg);
	/* position: static;
	transform: rotate(145deg); */
}

#pakimg {
	transform: rotate(45deg);
}
.inky
{
	position: absolute;
	top: 250px;
	left: 250px;

	color: #ffffff;
}
.pinky
{
	position: absolute;
	top: 300px;
	left: 200px;

	color: #ffffff;
}
.clyde
{
	position: absolute;
	top: 500px;
	left: 300px;

	color: #ffffff;
}
.inner-labyrinth {
	display: grid;
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows:    50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;	
	column-gap: 0px;
	row-gap: 0px;

  }